<h2>Upcoming Events</h2>
<div ng-repeat='e in events.upcoming'>
	<p>{{e.title}}</p>
	<p>{{e.start_date | date: "MMM d, y h:mm a"}}</p>
</div>
<h2>Past Events</h2>
<div ng-repeat='ev in events.past'>
	<p>{{ev.title}}</p>
	<p>{{ev.start_date | date: "MMM d, y h:mm a"}}</p>
	<p>{{ev.end_date | date: "MMM d, y h:mm a"}}</p>
</div>

<select ng-options="ev.title for ev in events.upcoming" ng-model="currentEvent" ng-change="onChange()">
  <option value="">New Event</option>
</select>

<h1>Create or Update</h1>
<form name='eventForm' ng-submit='submit()'>
	<label>Title</label>
	<input type='text' ng-model='editing.title' name='title' />
	<label>Description</label>
	<input type='text' ng-model='editing.description' name='description'/>
	<label>Start Date</label>
	<input type="datetime-local" ng-model='editing.start_date' name='start_date' />
	<label>End Date</label>
	<input type="datetime-local" ng-model='editing.end_date' name='end_date'/>
	 <input type="submit" value="{{ currentEvent.title ? 'Update' : 'Create' }}" ng-click="addOrUpdateEvent()">
</form>