<div class='col-lg-4'>
	<h2>Upcoming Events</h2>
	<div ng-repeat='e in events.upcoming'>
		<p>{{e.title}}</p>
		<p>{{e.start_date | date: "MMM d, y h:mm a"}}</p>
	</div>
</div>
<div class='col-lg-4'>
	<h2>Past Events</h2>
	<div ng-repeat='ev in events.past'>
		<p>{{ev.title}}</p>
		<p>{{ev.start_date | date: "MMM d, y h:mm a"}}</p>
		<p>{{ev.end_date | date: "MMM d, y h:mm a"}}</p>
	</div>
</div>
<div class='col-lg-4'>
	<select class="form-control" ng-options="ev.title for ev in events.upcoming" ng-model="currentEvent" ng-change="onChange()">
	  <option value="">New Event</option>
	</select>

	<h3>Create or Update</h3>
	<form name='eventForm' ng-submit='submit()'>
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" type='text' ng-model='editing.title' name='title' />
		</div>
		<div class="form-group">
			<label>Description</label>
			<input class="form-control" type='text' ng-model='editing.description' name='description'/>
		</div>
		<div class="form-group">
			<label>Start Date</label>
			<input class="form-control" type="datetime-local" ng-model='editing.start_date' name='start_date' />
		</div>
		<div class="form-group">
			<label>End Date</label>
			<input class="form-control" type="datetime-local" ng-model='editing.end_date' name='end_date'/>
		</div>
		<div class="form-group">
			<input class="form-control" type="submit" value="{{ currentEvent.title ? 'Update' : 'Create' }}" ng-click="addOrUpdateEvent()">
		</div>
	</form>
</div>